<header>
  <div class="header-main">
    <h1>スノボーカスタム</h1>
    <p>snowboard custom</p>

        <div class="header-menu">
          <%= link_to t('posts.new.title'), new_post_path, class: 'header-link' %>
          <%= link_to t('posts.index.title'), root_path, class: 'header-link' %>
          <%= link_to '自分の投稿一覧', my_posts_posts_path, class: 'header-link' %>
          <%= link_to t('likes.title'), likes_posts_path, class: 'header-link' %>
        </div>

          <a class="dropdown-toggle mypage-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            MyPage
          </a>
          <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
            <li><%= link_to (t 'profiles.show.title'), profile_path, class: 'dropdown-item' %></li>
            <li><%= link_to 'アカウント設定', new_password_reset_path, class: 'dropdown-item' %></li>
            <li><%= link_to (t 'defaults.logout'), logout_path, class: 'dropdown-item', method: :delete %></li>
          </ul>
  </div>
</header>
