<header>
  <nav class='navbar'>
    <%= link_to root_path class: 'navbar-brand top-icon-image' do %>
      <%= image_tag 'logo.png', class: 'top-icon-image' %>
    <% end %>


        <div class="board-top">
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle board-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
              掲示板
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <li><%= link_to t('posts.index.title'), root_path, class: 'dropdown-item' %></li>
              <li><%= link_to t('posts.new.title'), new_post_path, class: 'dropdown-item' %></li>
            </ul>
          </div>
        </div>


      <div class="user-icon">
        <div class='nav-item ml-auto'>
          <a class='nav-link' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false' id='header-profile'>
            <%= link_to image_tag(current_user.avatar_url, size: '40x40', class: 'rounded-circle mr15 user-icon-phone'), profile_path %>
          </a>
        </div>
      </div>

        <div class="mypage">
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle mypage-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
              マイページ
            </button>
            <ul class="dropdown-menu mypage-menu" aria-labelledby="dropdownMenuButton1">
              <li><%= link_to (t 'profiles.show.title'), profile_path, class: 'dropdown-item' %></li>
              <li><%= link_to t('likes.title'), likes_posts_path, class: 'dropdown-item' %></li>
              <li><%= link_to '自分の投稿一覧', my_posts_posts_path, class: 'dropdown-item' %></li>
              <li><%= link_to 'アカウント設定', new_password_reset_path, class: 'dropdown-item' %></li>
              <li><%= link_to (t 'defaults.logout'), logout_path, class: 'dropdown-item', method: :delete %></li>
            </ul>
            </div>
          </div>
  </nav>
</header>
