<div class="col-sm-12 col-lg-4 mb-3">
  <div id="board-id-<%= post.id %>">
    <div class="card">
      <%= image_tag 'board_placeholder.png', class: 'card-img-top', size: '300x200' %>
      <div class="card-body">
        <h4 class="card-title">
          <a href="#">
            <%= post.title %>
          </a>
        </h4>
        <div class='mr10 float-right'>
          <a href="#"><%= icon 'fas', 'trash', class: 'pr-1' %></a>
          <a href="#"><%= icon 'fa', 'pen' %></a>
        </div>
        <ul class="list-inline">
          <li class="list-inline-item">
            <%= icon 'far', 'user' %>
            <%= post.user.name %>
          </li>
          <li class="list-inline-item">
            <%= icon 'far', 'calendar' %>
            <%= l post.created_at, format: :long %>
          </li>
        </ul>
        <p class="card-text"><%= post.body %></p>
      </div>
    </div>
  </div>
</div>