<%= form.fields_for :snow_boards do | d | %>
  <div class="form-group">
     <%= d.label :board_name %>
     <%= d.text_field :board_name, class: 'form-control' %>
   </div>
   <div class="form-group">
     <%= d.label :board_information %>
     <%= fd.text_area :board_information, class: 'form-control'%>
   </div>
<% end %>