<% content_for(:title, t('.title')) %>
<div class="breadcrumb">
  <% breadcrumb :show_post, @post %>
  <%= breadcrumbs separator: ">" %>
</div>

      <h1 class="show-title"><%= t('.title') %></h1>
      <!-- 掲示板内容 -->
      <div class="flex_show">
          <div class='row'>
              <%= image_tag @post.post_image.url, class: 'card-img-top-show img-fluid', size: '300x200' %>
          </div>

        <div class="right_show">
          <% @snow_boards.each do |board| %>
          <p><%= "ボードの名前 : #{board.board_name}" %></p>
          <p><%= raw Rinku.auto_link("ボードの説明 : #{board.board_information}") %></p>

          <% @snow_bindings.each do |binding| %>
          <p><%= "ビンディングの名前 : #{ binding.binding_name }" %></p>
          <p><%= raw Rinku.auto_link("ビンディングの説明 : #{binding.binding_information}") %></p>

          <% @snow_shoes.each do |shoes| %>
          <p><%= "ブーツの名前 : #{shoes.shoe_name}" %></p>
          <p><%= raw Rinku.auto_link("ブーツの説明 : #{shoes.shoe_information}") %></p>


          <div class="body_show"><%= raw Rinku.auto_link(simple_format("本文: #{@post.body}")) %></div>

          <p><%= "金額: #{@post.budget}円" %></p>


        <div class="tag">
          <% @post_tags.each do |tag| %>
            <%= link_to tag.name, tag_posts_path(tag_id: tag.id) %>
          <% end %>
        </div>

        <div class="show-icon">
          <% if logged_in? %>
            <% if current_user.own?(@post) %>
              <%= render 'crud_menus', post: @post %>
                <div class="twitter_share">
                  <%= link_to "https://twitter.com/share?url=%0a#{ request.url }&text=:#{ shoes.shoe_name }%0a:#{ binding.binding_name }%0a:#{ board.board_name }&hashtags=スノーボード", target: '_blank' do %>
                  <i class="fab fa-twitter" style='color: #3399FF;'></i>シェア
                <% end %>
              </div>
            <% else %>
              <%= render 'like_button', post: @post  %>
            <% end %>
          <% end %>
        </div>

              <li class="list-inline-item">by <%= @post.user.name %></li>
              <li class="list-inline-item"><%= l @post.created_at, format: :long  %></li>
          
          <% end %>
          <% end %>
          <% end %>
        </div>
      </div>

          <div class="search-box-rakuten-show">
            <h4>製品名を楽天市場で検索</h4> 
              <%= form_with url: items_search_path, method: :get, local: true do |f| %>
                <div class="form-group">
                  <%= f.text_field :keyword, value: params[:keyword], class: "form-control" %>
                  <%= f.submit '製品名で検索', class: "form-control btn btn-border rakuten-serch-button" %>
                </div>
              <% end %>
              <% if @items.present? %>
                <%= render 'items/item' %>
              <% end %>
          </div>

