<div class="container pt-5">
  <div class="row mb-3">
    <div class="col-lg-8 offset-lg-2">
      <h1><%= t('.title') %></h1>
      <!-- 掲示板内容 -->
      <article class="card">
        <div class="card-body">
          <div class='row'>
            <div class='col-md-3'>
              <%= image_tag @post.post_image.url, class: 'card-img-top img-fluid', size: '300x200' %>
            </div>
            <div class='col-md-9'>
              <h3 class="d-inline"><%= @post.budget %></h3>
              <% if logged_in? %>
                <% if current_user.own?(@post) %>
                  <%= render 'crud_menus', post: @post %>
                <% else %>
                  <%= render 'like_button', post: @post  %>
                <% end %>
              <% end %>
              <ul class="list-inline">
                <li class="list-inline-item">by <%= @post.user.name %></li>
                <li class="list-inline-item"><%= l @post.created_at, format: :long  %></li>
              </ul>
            </div>
          </div>
          <%= simple_format(@post.body) %>

          <% @snow_boards.each do |board| %>
          <br><%= "ボードの名前 : #{board.board_name}" %></br>
          <br><%= "ボードの説明 : #{board.board_information}" %></br>
          <% end %>

          <% @snow_bindings.each do |binding| %>
          <br><%= "ビンディングの名前 : #{binding.binding_name}" %></br>
          <br><%= "ビンディングの説明 : #{binding.binding_information}" %></br>
          <% end %>

          <% @post_tags.each do |tag| %>
            <%= link_to tag.name, tag_posts_path(tag_id: tag.id) %>
          <% end %>
        </div>
      </article>
    </div>
  </div>
