<!DOCTYPE html>
<html>
  <head>
    <title><%= page_title(yield(:title)) %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="twitter:card" content="summary_large_image" />
    <meta property="og:url" content="https://www.snowboard-custom.com" />
    <meta property="og:title" content="スノーボーカスタム" />
    <meta property="og:image" content="post.post_image_url" />

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="body-main">
    <% if logged_in? %>
      <%= render 'shared/header' %>
    <% else %>
      <%= render 'shared/before_login_header' %>
    <% end %>
    <%= render 'shared/flash_message' %>
    <div class="back-image">
    <%= yield %>
    </div>
    <%= render 'shared/footer' %>
  </body>
</html>
